blueTheme = {
  name: "blueTheme", //标识主题
  background_color_main : blue, // 主要背景色
  scroll_bar_bgColor : rgba(223, 223, 223, 1), // 滚动条颜色
  bgColor_001 : rgba(255,255,255,0.7), // 图表背景色
  bgColor_002 : #445DF7, //标题前缀
  bgColor_003 : #E7E8F4, //进度条背景色
  font_color_main : #323232, //主要字体颜色
  font_color_001 : #C4C4C4, //字体选中颜色
  font_color_002 : #6C6E72, //字体未选中颜色
  font_color_003 : #939393, //进度条文字
  other_color_001 : #E8E8EC, //组件横线颜色
}

themeList = (blueTheme);
